/* home page styling starts here */
#header{
    width: 100%;
    margin-top: 40px;
}
#header h1{
    margin: 0 0 10px 0;
    font-size: 40px;
    font-weight: 700;
    color: black;
}
#header .brand-name{
    color: #3498db;
}
#header h2{
    color: #484848;
    font-size: 24px;
}
#header .btn-get-started{
    font-size: 16px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: .5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
}
#header .btn-get-started:hover{
    color: white;
    background-color: #3498db;
}
.header-img{
    text-align: right;
}
#header .animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@keyframes up-down {
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
/* home page styling ends here */

/* responsive styling starts here */
@media(max-width:425px){
    .header_div{
        display: flex;
        flex-direction: column-reverse;
    }
    #header{
        margin-top: 10px;
    }
    #header h1{
        font-size: 19px;
        text-align: center;
    }
    #header h2{
        font-size: 13px;
        text-align: center;
    }
    #header .get_started_btn{
        font-size: 13px;
        padding: 5px 17px;
    }
    #header .header-img{
        text-align: center;
    }
    #header .header-img img{
        height: 250px;
        width: 250px;
    }
    .info_div{
        padding: 30px 10px 10px 10px !important;
    }
    .info_div h2{
        margin: 2px 0px 2px 0px !important;
        padding: 0px 15px 0px 15px ;
    }
    .btn_div{
        margin: auto;
    }
}