@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    height: 100vh !important;
}
body{
    height: 100vh;
}
a:hover{
    color: white;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
p{
    margin-bottom: 0px;
}
/* navbar styling starts here */
.row>*{
    padding: 0px;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    padding: 0px !important;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar{
    background-color: #fff !important;
}
.navbar-brand{
    font-size: 1.9rem !important;
    color: #3498db !important;
    margin-right: 0px;
}
.navbar a{
    font-size: 1.3rem;
}
.active{
    font-weight: bold;
    border-bottom: 1px solid #3498db;
}
.navbar a:hover{
    color: #3498db !important;
}
/* navbar styling ends here */

/* responsive code */
@media(max-width:425px){
    .header_div{
        display: flex;
        flex-direction: column-reverse;
    }
    #header{
        margin-top: 10px;
    }
    #header h1{
        font-size: 20px;
        text-align: center;
    }
    #header h2{
        font-size: 15px;
        text-align: center;
    }
    #header .get_started_btn{
        font-size: 13px;
        padding: 5px 20px;
        border-radius: 50px;
        transition: .5s;
        color: #3498db;
        border: 2px solid #3498db;
        text-decoration: none;
    }
    #header .header-img{
        text-align: center;
    }
    #header .header-img img{
        height: 250px;
        width: 250px;
    }
    .info_div{
        padding: 30px 10px 10px 10px !important;
    }
    .info_div h2{
        margin: 2px 0px 2px 0px !important;
        padding: 0px 15px 0px 15px ;
    }
    .btn_div{
        margin: auto;
    }
    footer p{
        margin:0px !important;
        font-size: .8rem;
    }
}