@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    height: 100vh !important;
}
body{
    height: 100vh;
}
a:hover{
    color: white;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
p{
    margin-bottom: 0px;
}



